@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.site-inner:after { content: ""; display: table; clear: both; }

.site-inner { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.half-col, .team .item { display: inline-block; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/** Map set  @param 	Map 	$map 		The map to use @param 	String 	$key 		The key to update @param 	Mixed 	$value 		The new value @return 	Map 			The new map */
/** Get the column width in percent for the global or a specific context  @param 	int 		$columns 					The number of columns to calculate @param 	int 		$context : $gridle-columns-count 	 	The context to use @return 	percentage 							The width in percent */
/** Get a state map  @param 	string 		$name 		The name of the state to get @return 	map 				A state map object */
/** Check if a state exist :  @param 	string 		$name 		The name of the state to check @return 	Boolean 			true is exist */
/** Get the media queries variables :  @param 	int 		$index 	 	The media query indes @param 	String 		$var 		The media query variable name @return 	String|int 			The variable value */
/** Get a variable  @param 	String 		$varName 				The variable name @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value @return 	Mixed 							The finded value */
/** Set a variable in a state @param 	Mixed $stateName-or-stateIndex 	The state name of state index @param  	String $var                    		Variable name to assign @param  	Mixed $newValue          		The new value to assign @return 	List                         			The states list (full) */
/** Generate a column  @param 	String 		$name 			The column name (often count) @param 	int 		$columns 		The column count that the column will take @param 	int 		$context 		The context on witch the with will be calculed @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css */
/** Generate classname  @param 	List 		$parrern 	The pattern to use to generate classname @param 	String 		$state 		The state @param 	int 		$count 		The column count */
/** Get the media query for a particular state, or with, etc...  @param 	Mixed 		$state-or-min-width 		The state name of the min with @param 	Mixed 		$max-width 			The max width if first param is a min width @return 	String 						The media query string without the @media */
/** Get states count  @return 	int 	The number of states defined */
/** Setup */
/** Register a clear each class */
/** Register a special class */
/** Register default states */
/** Register default mobile first states : */
/** Set the debug device (not used for now)  @param 	String 		$state 		The state to update @para m 	String 		$device 	The device to use (iphone, etc...) */
/** Parent clear each */
/** Vertical align : */
/** Show inline  @param 	String 		$state 		The state name */
/** Generate a custom class for all the states  @param 	list 	$pattern 		The name pattern of the class @param 	list 	$statesNames 		The states names to generate */
html, body { background: #fdfdfd; }

a { text-decoration: none; }

::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); background-color: #fdfdfd; }

::-webkit-scrollbar { width: 10px; background-color: #fdfdfd; }

::-webkit-scrollbar-thumb { background-color: #926d7e; }

.site-inner { position: relative; width: 60em; margin-left: auto; margin-right: auto; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.row { padding: 60px 0; }
.row header { text-align: center; margin-bottom: 60px; }
.row header p { padding: 0px 230px; }
@media screen and (min-width: 767px) and (max-width: 1024px) { .row header p { padding: 0px 170px; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .row header p { padding: 0; } }

.half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; width: 50%; float: left; direction: ltr; padding-left: 10px; padding-right: 10px; }
@media screen and (min-width: 320px) and (max-width: 767px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 767px) and (max-width: 1024px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 1170px) and (max-width: 1600px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 767px) and (max-width: 1024px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 1170px) and (max-width: 1600px) { .half-col { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .half-col { width: 100%; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .half-col { margin-bottom: 40px; }
  .half-col:last-child { margin-bottom: 0; } }

/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
/* ★ Typography                 */
/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
a, p, h1, h2, h3, h4, h5 { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; text-rendering: optimizeLegibility; }

a { color: #dae0d6; font-family: "Open Sans", sans-serif; font-size: 12px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }
a:hover { color: white; }

.heading { color: dimgray; font-family: "Open Sans", sans-serif; }
.heading.h-01 { font-size: 24px; font-weight: 400; line-height: 1; color: black; text-transform: uppercase; margin-bottom: 30px; }
.heading.h-02 { font-size: 14px; font-weight: 600; line-height: 18px; color: black; text-transform: uppercase; }
.heading.h-03 { font-size: 24px; font-weight: 300; line-height: 1; }
.heading.h-04 { font-size: 14px; font-weight: 300; line-height: 20px; color: #926d7e; text-transform: uppercase; }

.copy { color: dimgray; font-family: "Open Sans", sans-serif; }
.copy.c-01 { font-size: 12px; font-weight: 400; line-height: 18px; }
.copy.c-02 { font-size: 12px; font-weight: 700; line-height: 1; }
.copy.c-03 { font-size: 12px; font-weight: 400; line-height: 20px; }

.br { position: relative; border: 0 solid #dae0d6; border-top-width: 1px; height: 0; margin: 30px auto; clear: both; display: block; width: 590px; }
.br:after, .br:before { content: ""; display: block; position: absolute; left: 50%; overflow: hidden; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.br:after { height: 10px; width: 10px; margin-top: -6px; margin-left: -6px; background: #b8bbcc; }
.br:before { height: 17px; width: 17px; margin-top: -9px; margin-left: -9px; background: #fdfdfd; }

.menu-arrow { display: none; position: relative; cursor: pointer; z-index: 40; margin: 0 auto; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; height: 30px; width: 33px; }
.menu-arrow .text { display: block; font-family: "Open Sans", sans-serif; font-size: 10px; font-weight: 600; color: #fdfdfd; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=0); zoom: 1; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.menu-arrow .left, .menu-arrow .right { position: absolute; display: block; height: 3px; width: 20px; background: #fdfdfd; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.menu-arrow .left { left: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.menu-arrow .right { right: 0; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.menu-arrow:hover .text { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=100); zoom: 1; -webkit-transform: translateY(8px); -moz-transform: translateY(8px); -ms-transform: translateY(8px); -o-transform: translateY(8px); transform: translateY(8px); }
.menu-arrow:hover .left, .menu-arrow:hover .right { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=0); zoom: 1; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
.menu-arrow:hover .left { left: -15px; }
.menu-arrow:hover .right { right: -15px; }

.menu-arrow.open .text { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=0); zoom: 1; }
.menu-arrow.open .left, .menu-arrow.open .right { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); opacity: 0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=50); zoom: 1; }
.menu-arrow.open .left { left: 6px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.menu-arrow.open .right { right: 7px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

#toTop { position: fixed; right: 75px; bottom: 20px; display: inline-block; height: 44px; width: 44px; background: #e4c2c0 url(../images/icon_arrow_up.svg) no-repeat center 50%; visibility: hidden; opacity: 0; border-radius: 5px; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
#toTop.is-visible { visibility: visible; opacity: 1; -webkit-animation: bounce-in 0.3s linear; -moz-animation: bounce-in 0.3s linear; animation: bounce-in 0.3s linear; }
.no-touch #toTop:hover { background-color: #e4c2c0; opacity: 1; }

.aside-icon { position: relative; height: 65px; width: 65px; margin-right: 20px; padding: 2px 0; }
.aside-icon svg #circle { stroke: #e4c2c0; }
.aside-icon svg #icon { fill: #e4c2c0; }
@media screen and (min-width: 767px) and (max-width: 1024px) { .aside-icon { padding: 14px 0; height: 60px; width: 60px; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .aside-icon { overflow: hidden; height: 40px; width: 40px; margin-right: 10px; padding: 0; }
  .aside-icon svg { position: absolute; position: absolute; top: -24px; left: -20px; height: 80px; width: 80px; }
  .aside-icon svg #circle { opacity: 0; } }

.button { display: inline-block; font-family: "Open Sans", sans-serif; font-size: 12px; font-weight: 700; text-transform: uppercase; padding: 10px 15px; border: none; cursor: pointer; color: #fdfdfd; outline: none; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; text-rendering: optimizeLegibility; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.button.normal { background: #926d7e; color: white; }
.button.alternative { background: #dae0d6; color: white; }
.button.rounded { border-radius: 3px; }
.button:hover { opacity: 0.7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=70); zoom: 1; }

.header { background: url(../images/hero-bg.jpg) no-repeat top center; background-size: cover; padding: 0px; }
.header header { margin-bottom: 50px; }
.header header:after { content: ""; display: table; clear: both; }
.header .logo { margin-top: 30px; height: 61px; width: 165px; float: left; }
.header .logo svg * { fill: #fdfdfd; }
.header .primary-nav { float: right; margin-top: 50px; }
.header .primary-nav > a { padding: 0 15px; font-weight: 600; text-transform: uppercase; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
.header .primary-nav > a:last-child { padding-right: 0; }
.header .hero { text-align: center; padding-bottom: 30px; }
.header .h-hero, .header .h-hero-alt { font-weight: 600; font-size: 48px; color: #fdfdfd; padding-bottom: 25px; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.header .h-hero-alt { text-transform: uppercase; margin-top: 30px; }
.header .c-hero { color: #fdfdfd; padding: 0 200px; }
.header .contact-trigger { position: relative; color: #fdfdfd; font-weight: 600; text-transform: uppercase; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
.header .contact-trigger:hover { color: #dae0d6; }
.header .contact-trigger:before, .header .contact-trigger:after { content: ""; position: relative; top: -3px; display: inline-block; background: #fdfdfd; height: 1px; width: 100px; }
.header .contact-trigger:before { right: 10px; }
.header .contact-trigger:after { left: 10px; }
@media screen and (min-width: 767px) and (max-width: 1024px) { .header .c-hero { padding: 0 90px; }
  .header .logo { padding-left: 20px; }
  .header .primary-nav { padding-right: 20px; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .header .primary-nav { display: none; float: none; width: 100%; margin: 0; }
  .header .primary-nav > a { text-align: center; display: block; padding: 10px 0 !important; }
  .header .h-hero { margin-top: 30px; }
  .header .c-hero { padding: 0 30px; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .header .c-hero { padding: 0; } }

.footer-nav { position: fixed; right: 20px; bottom: 20px; padding: 10px 30px 10px 10px; width: 120px; background: dimgray; border-radius: 5px; -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); -webkit-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; transform-origin: 100% 100%; -webkit-transition: -webkit-transform 0.3s, visibility 0.3s; -moz-transition: -moz-transform 0.3s, visibility 0.3s; transition: transform 0.3s, visibility 0.3s; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.footer-nav.is-visible { visibility: visible; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform 0.3s, visibility 0.3s; -moz-transition: -moz-transform 0.3s, visibility 0.3s; transition: transform 0.3s, visibility 0.3s; }
.footer-nav a { display: block; padding: 10px; font-size: 16px; color: #fdfdfd; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

.navTrigger { position: fixed; right: 20px; bottom: 20px; height: 44px; width: 44px; background: dimgray; border-radius: 5px; cursor: pointer; visibility: hidden; border: none; outline: none; z-index: 3; -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); -webkit-transition: -webkit-transform 0.3s, visibility 0.3s; -moz-transition: -moz-transform 0.3s, visibility 0.3s; transition: transform 0.3s, visibility 0.3s; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
.navTrigger.is-fixed { visibility: visible; -webkit-transition: all 0s; -moz-transition: all 0s; transition: all 0s; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-animation: bounce-in 0.3s linear; -moz-animation: bounce-in 0.3s linear; animation: bounce-in 0.3s linear; }
.navTrigger span { position: absolute; display: block; width: 20px; height: 2px; background: #fdfdfd; top: 50%; margin-top: -1px; left: 50%; margin-left: -10px; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; transition: background 0.3s; }
.navTrigger span::before, .navTrigger span::after { content: ''; position: absolute; left: 0; background: inherit; width: 100%; height: 100%; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.3s, background 0s; -moz-transition: -moz-transform 0.3s, background 0s; transition: transform 0.3s, background 0s; }
.navTrigger span:before, .navTrigger span:after { -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }
.navTrigger span:before { top: -6px; }
.navTrigger span:after { bottom: -6px; }
.navTrigger.menu-is-open span { background: rgba(253, 253, 253, 0); }
.navTrigger.menu-is-open span:before, .navTrigger.menu-is-open span:after { background: #fdfdfd; }
.navTrigger.menu-is-open span:before { top: 0; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.navTrigger.menu-is-open span:after { bottom: 0; -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); transform: rotate(225deg); }

@-webkit-keyframes slide-in { 0% { -webkit-transform: translateX(100px); }
  100% { -webkit-transform: translateY(0); } }
@-moz-keyframes slide-in { 0% { -moz-transform: translateX(100px); }
  100% { -moz-transform: translateY(0); } }
@keyframes slide-in { 0% { -webkit-transform: translateX(100px); -moz-transform: translateX(100px); -ms-transform: translateX(100px); -o-transform: translateX(100px); transform: translateX(100px); }
  100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes bounce-in { 0% { -webkit-transform: scale(0); }
  60% { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); } }
@-moz-keyframes bounce-in { 0% { -moz-transform: scale(0); }
  60% { -moz-transform: scale(1.2); }
  100% { -moz-transform: scale(1); } }
@keyframes bounce-in { 0% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
  60% { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
.about aside { position: relative; }
.about aside figure { float: left; }
.about aside h2 { margin-bottom: 10px; }
.about aside h4 { margin-bottom: 15px; }

.quotes { background: url(../images/quote-bg.jpg) no-repeat; background-size: cover; }
.quotes header { margin: 0; }
.quotes .h-quote { font-weight: 300; font-size: 60px; line-height: 80px; color: #fdfdfd; }
.quotes .c-author { position: relative; font-weight: 600; font-size: 14px; color: #fdfdfd; margin-top: 35px; }
.quotes .c-author:before { content: ""; position: absolute; top: -25px; left: 50%; display: inline-block; height: 7px; width: 7px; margin-left: -5px; background: rgba(218, 224, 214, 0.3); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
@media screen and (min-width: 320px) and (max-width: 767px) { .quotes .h-quote { font-size: 18px; line-height: 26px; padding: 0 20px; }
  .quotes .c-author { font-size: 12px; margin-top: 30px; }
  .quotes .c-author:before { top: -17px; } }

.our-work { padding-bottom: 0; }
.our-work .item, .our-work .grid-sizer { width: 20%; }
.our-work .item figure img { display: block; width: 100%; }
.our-work #worksFilters { text-align: center; margin-bottom: 60px; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
.our-work #worksFilters:after { content: ""; display: table; clear: both; }
.our-work .button { opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=60); zoom: 1; }
.our-work .button:hover { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=100); zoom: 1; }
.our-work .button.is-checked { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=100); zoom: 1; }
.our-work figure { overflow: hidden; }
.our-work figure img { -webkit-transition: all 3s ease-out; -moz-transition: all 3s ease-out; transition: all 3s ease-out; }
.our-work #worksContainer .item { background: #926d7e; cursor: pointer; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
.our-work #worksContainer .item figure { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.our-work #worksContainer .item:hover figure { opacity: 0.2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=20); zoom: 1; }
.our-work #worksContainer .item:hover .info { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=100); zoom: 1; -webkit-transform: translateY(10px); -moz-transform: translateY(10px); -ms-transform: translateY(10px); -o-transform: translateY(10px); transform: translateY(10px); }
.our-work #worksContainer .item:hover .info .c-01 { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); -ms-transform: translateY(5px); -o-transform: translateY(5px); transform: translateY(5px); }
.our-work #worksContainer .item:hover img { -webkit-transform: scale(1.2) rotate(5deg); -moz-transform: scale(1.2) rotate(5deg); -ms-transform: scale(1.2) rotate(5deg); -o-transform: scale(1.2) rotate(5deg); transform: scale(1.2) rotate(5deg); }
.our-work #worksContainer .item .info { text-align: center; height: 100%; width: 100%; position: absolute; top: 50%; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; margin-top: -45px; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=0); zoom: 1; }
.our-work #worksContainer .item .info .icon-eye { margin: 0 auto; height: 45px; width: 50px; }
.our-work #worksContainer .item .info .icon-eye svg * { fill: #fdfdfd; }
.our-work #worksContainer .item .copy { color: #fdfdfd; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.our-work #worksContainer .item .copy.c-02 { text-transform: uppercase; }
@media screen and (min-width: 767px) and (max-width: 1024px) { .our-work .item, .our-work .grid-sizer { width: 33.3333%; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .our-work .item, .our-work .grid-sizer { width: 50%; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .our-work .button-set { display: block; float: left; width: 48%; margin: 0 1%; }
  .our-work .button { width: 100%; display: block; margin-bottom: 5px; } }

.team .h-03 { text-transform: uppercase; color: black; padding-top: 25px; margin-bottom: 10px; }
.team .h-04 { color: #b8bbcc; margin-bottom: 35px; }
.team .c-01 { position: relative; margin-top: 35px; padding: 0 10px 25px 10px; }
.team .c-01:before { content: ""; position: absolute; top: -21px; left: 50%; display: inline-block; height: 7px; width: 7px; margin-left: -5px; background: rgba(218, 224, 214, 0.8); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.team figure { overflow: hidden; }
.team figure img { width: 100%; -webkit-transition: all 4s ease-out; -moz-transition: all 4s ease-out; transition: all 4s ease-out; }
.team #teamContainer:after { content: ""; display: table; clear: both; }
.team .item { margin-bottom: 20px; float: left; direction: ltr; padding-left: 10px; padding-right: 10px; width: 25%; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
@media screen and (min-width: 320px) and (max-width: 767px) { .team .item { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .team .item { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 767px) and (max-width: 1024px) { .team .item { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
@media screen and (min-width: 1170px) and (max-width: 1600px) { .team .item { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; } }
.team .item img { display: block; }
.team .item .info { text-align: center; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.team .item:hover .info { background: rgba(105, 105, 105, 0.1); }
.team .item:hover img { -webkit-transform: scale(1.1) translateY(-5px); -moz-transform: scale(1.1) translateY(-5px); -ms-transform: scale(1.1) translateY(-5px); -o-transform: scale(1.1) translateY(-5px); transform: scale(1.1) translateY(-5px); }
@media screen and (min-width: 320px) and (max-width: 767px) { .team .item { width: 50%; } }
@media screen and (min-width: 320px) and (max-width: 510px) { .team .item { width: 100%; } }

.testimonials { background: url(../images/testimonials-bg.jpg) no-repeat; background-size: cover; text-align: center; }
.testimonials figure { position: relative; display: inline-block; margin-bottom: 15px; }
.testimonials figure figcaption .h-02 { position: absolute; top: 50%; color: #fdfdfd; }
.testimonials figure figcaption .h-02 span { padding-left: 5px; color: #e4c2c0; font-weight: 300; }
.testimonials figure img { position: relative; border-radius: 300px; display: block; margin: 0 auto; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.testimonials figure:before, .testimonials figure:after { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.testimonials figure:before { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=0); zoom: 1; content: attr(data-name); display: inline-block; position: absolute; top: 50%; right: 45px; margin-top: -5px; width: 300px; text-align: right; color: #fdfdfd; text-transform: uppercase; font-family: "Open Sans", sans-serif; font-size: 14px; font-weight: 600; }
.testimonials figure:after { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=0); zoom: 1; content: attr(data-employer); display: inline-block; position: absolute; top: 50%; left: 45px; margin-top: -5px; width: 300px; text-align: left; color: #e4c2c0; text-transform: uppercase; font-family: "Open Sans", sans-serif; font-size: 14px; font-weight: 300; }
.testimonials .h-04 { text-transform: none; color: #fdfdfd; line-height: 24px; padding: 0 20px; }
.testimonials .testimonials-pager { margin-top: 25px; }
.testimonials .testimonials-pager .swiper-pagination-switch { display: inline-block; height: 10px; width: 10px; border-radius: 180px; background: none; border: 2px solid #e4c2c0; margin: 0 3px; cursor: pointer; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.testimonials .testimonials-pager .swiper-pagination-switch:hover { background: rgba(228, 194, 192, 0.4); }
.testimonials .testimonials-pager .swiper-active-switch { background: #e4c2c0; }
.testimonials:hover img { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9); }
.testimonials:hover figure:before { -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); -ms-transform: translateX(-40px); -o-transform: translateX(-40px); transform: translateX(-40px); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=100); zoom: 1; }
.testimonials:hover figure:after { -webkit-transform: translateX(40px); -moz-transform: translateX(40px); -ms-transform: translateX(40px); -o-transform: translateX(40px); transform: translateX(40px); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=100); zoom: 1; }
@media screen and (min-width: 320px) and (max-width: 767px) { .testimonials figure { width: 100%; }
  .testimonials figure:before, .testimonials figure:after { display: none; }
  .testimonials:hover img { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }

.contact .half-col .h-02 { margin-bottom: 15px; }
.contact .half-col .item:after { content: ""; display: table; clear: both; }
.contact .half-col .item .h-02 { color: dimgray; padding-top: 15px; }
.contact .half-col svg { height: 44px; width: 44px; opacity: 0.2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)"; filter: alpha(opacity=20); zoom: 1; float: left; }
.contact .input input, .contact .input textarea { width: 100%; background: none; outline: none; padding: 10px; border: 2px solid #dae0d6; border-radius: 0; margin-bottom: 10px; font-family: "Open Sans", sans-serif; font-size: 12px; font-weight: 300; line-height: 18px; color: dimgray; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
.contact .input input:focus, .contact .input textarea:focus { border: 2px solid #b8bbcc; }
.contact .input textarea { min-height: 120px; }
.contact .button { -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
.contact .form-result { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; text-rendering: optimizeLegibility; }
.contact .form-result.success { font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 12px; color: #b8bbcc; padding: 20px 0; }
.contact .form-result.error { font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 12px; color: #926d7e; padding: 20px 0; }
@media screen and (min-width: 320px) and (max-width: 510px) { .contact .form-result.error, .contact .form-result.success { font-size: 10px; } }

.footer { padding: 0; }
.footer .g-map { position: relative; }
.footer .g-map:before { content: ""; display: block; height: 19px; width: 100%; position: absolute; top: -10px; z-index: 50; background: url(../images/hero-slide-bar.png) repeat-x; }
.footer .g-map:after { content: ""; display: block; height: 19px; width: 100%; position: absolute; bottom: -6px; z-index: 50; background: url(../images/hero-slide-bar.png) repeat-x; }
.footer #map { height: 400px; width: 100%; }
.footer .copyright { margin: 20px 0; }
@media screen and (min-width: 320px) and (max-width: 510px) { .footer .copyright { font-size: 10px; text-align: center; } }

@media screen and (min-width: 767px) and (max-width: 1024px) { .site-inner { width: 47.9375em; } }
@media screen and (min-width: 320px) and (max-width: 767px) { .touch .team .item:hover .info { background: transparent; }
  .touch .team .item:hover img { -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -ms-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); }
  .site-inner { width: 100%; padding: 0 20px; }
  .br { width: 100%; }
  .header header { margin: 0 !important; }
  .logo { margin: 0 auto 20px auto !important; padding-top: 30px; float: none !important; }
  .menu-arrow { display: block; }
  .h-hero { font-size: 33px !important; }
  .h-hero-alt { margin-top: 20px !important; font-size: 34px !important; }
  .contact-trigger:before, .contact-trigger:after { width: 50px !important; }
  .about h2 { margin: 8px 0 18px 0 !important; }
  .about h4 { margin-bottom: 5px !important; } }
